body{
    background-image: url(Images/Double_space.jpg);
    background-repeat: no-repeat;
    font-style: normal;
    font-family: "Source Code Pro", monospace; 
    color: white;
}


.main{
    max-width: 1230px;
    min-width: 200px;
    display: flex;
    justify-content: center;
}

.main__figure{
    width: 400px;
    height: 300px;
    backdrop-filter: blur(10px);
    border-style: solid;
    border-color: white;
    border-style:solid;
    border-radius: 10px;
    justify-content: center;
    text-align: center;
    margin-top: 120px;
       
}

.main__name{
    font-weight: 500;
    font-size: 48px;
}

.citate{
    margin-top: 10px;
    font-size: 20px;
    font-family: "Source Code Pro", monospace;
}

.main__links{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-left: -20px;
}

.bx-crown{
    font-size: 48px;
    margin-top: 10px;
}

.main__link{
    color: white;
    font-size: 42px;
    margin-left: 10px;
}

.main__link:hover{
    color: rgb(56, 56, 167);
    animation-delay: 0.5ms;
}